body {
    font-family: IRANSans,BYekan;
    max-width: 1600px;
    margin: auto;
}

@font-face {
    font-family:'BYekan';/*تعریف یک نام برای فونت*/
    src:url('../fonts/Yekan/Yekan.eot');/*اکسپلورر 9 به بعد*/
    src:local('bYekan'),/*بررسی نصب بودن فونت در سیستم کاربر*/
    local('b Yekan'),/*برای برخی از مرورگرها مانند سافاری*/
    url('../fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
    url('../fonts/Yekan/Yekan.woff') format('woff'),/*مرورگر های جدید*/
    url('../fonts/Yekan/Yekan.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
    url('../fonts/Yekan/Yekan.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.woff') format('woff');  /* All Major Browsers */
}


a:hover {
    text-decoration: none;
    color: inherit;
}

a{
    text-decoration: none;
}

.footCol{
    color: rgb(239,134,131);
}

.footer{
    background-color: rgb(76,76,76);
    float: left;
    /*top: 100px;*/
}

.social{
     font-size: 20px;
     border: 1px solid rgb(239,134,131);
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-left: 18px;
     padding: 8px;
 }

.social1{
    padding-right: 15px;
}

.socialDiv{
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.socialDiv a i:hover{
    border: 1px solid red;
    color: red;
}

.footInfo{
    font-size: 20px;
    margin: 20px;
    padding-top: 10px;
}

.header{
    width: 100%;
    padding: 0;
    margin: 0 0 5px 0;
}
.header .menu{
    width: 100%;
    display: table;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 72px;
}

.header .menu{
    top: 0px;
}

.header .cover_menu{
    background-color: rgba(243,130,120,0.6);
    position: relative;
}
.header .menu ul{
    margin: 0;
    padding: 0;
}
.header  .menu li{
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 15px;
    font-size: 18px;
}

.header  .menu a :hover{
    background-color: rgb(239,134,131);
    text-decoration: none;
}

.header .menu a{
    padding:0;
    margin: 0;
    color: black;
}

.dark_text {
    color: black;
}

.light_text{
    color: #fff;
}

/*.header img#logo{*/
    /*display: flex;*/
    /*width: 60px;*/
    /*justify-content: flex-end;*/
    /*margin-left: 40px;*/
/*}*/

.header .headerall{
    width: 100%;
    max-width: 1600px;
    box-shadow: 0 5px 8px #888888;
    z-index: 1000;
    /*top:0;*/
    background-color: white;
    /*width: 120%;*/
    /*left: -20%;*/
    /*height:20vh;*/
    /*padding:5%;*/
    font-size: 22px;
}

.fixed{
    position: fixed;
}


.padding20_0{
    padding-top: 10px;
}

.paddleft0{
    padding-left: 0;
}

.headerH{
    padding-top: 10px;
    padding-right: 0;
}

.log_reg_block{
    /*padding-top: 25px;*/
    font-size: 18px;
}

.search{
    font-size: 18px;
    padding: 0 5%;
}


.header .side_menu{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    /*background: rgba(255,255,255,1);*/
    background-color: white;
    /*z-index: 2000;*/
}

.title_menu{
    margin-right: 5%;
}

.header .side_menu_icon{
    margin:10px 20px 10px 0;
    font-size: 18px;
}
.header .side_menu .collapsed_menu{
    max-width:100%;
    width:260px;
    background-color: #fff;
    position: absolute;
    top:0;
    bottom: 0;
    overflow-y: scroll;
}
.header .side_menu .collapsed_menu ul li{
    list-style: none;
    color: #1c4e75;
    font-size: 16px;
    padding:10px 0;
}
.header .side_menu .collapsed_menu li:hover{
    background-color: silver;
}
.header .side_menu .collapsed_menu .top_menu{
    background-color: rgba(27,93,99,0.6);
    display: flex;
    align-items:center;
    color:#fff;
    margin-bottom: 30px;
    padding:10px 0 20px 0;
}
.header .side_menu .collapsed_menu .top_menu img{
    width:60px;
    margin:10px 10px 10px 20px;
}
.header .side_menu .collapsed_menu .top_menu h1{
    font-size:20px;
    font-weight: bold;
    margin:10px 0;
}




.hiddenme{
    display: block;
}
.showme{
    display: none;
}

.cover{
    display: flex;
}

.sb-search {
    position: relative;
    margin-top: 10px;
    width: 20%;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: rgb(255,213,213);
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 20px 20px 65px;
    font-size: 18px;
    border-radius: 30px;
}

.sb-search-input::-webkit-input-placeholder {
    color:  rgb(240,135,132);
}

.sb-search-input:-moz-placeholder {
    color:  rgb(240,135,132);
}

.sb-search-input::-moz-placeholder {
    color: rgb(240,135,132);
}

.sb-search-input:-ms-input-placeholder {
    color:  rgb(240,135,132);
}

.sb-icon-search,
.sb-search-submit  {
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 1;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: rgb(240,135,132);
    z-index: 90;
    font-size: 22px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 50%;
}


/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background:  rgb(240,135,132);
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}

.addSub{
    color:  rgb(239,134,131);
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(239,134,131);
    margin-bottom: 10px;
}


.add{
    margin: 10px 0px 10px 0px;
}

.hrline{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(239,134,131);
    margin-bottom: 30px;
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
}

.afterHr{
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
}

.blackCol{
    color: black;
    font-size: 14px;
    line-height: 20px;
}

.pagination {
    flex-direction: row-reverse;
}

.addSub h3{
    font-size: 18px;
}

.hiddenthisoverxs{
    display: none;
}



.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgba(255,200,200,0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: right;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.log_reg_block_mob{
    font-size: 10px;
    line-height: 3;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px 0;
}

.specialSpan{
    text-shadow: 1px 2px 3px #FFFF00, 2px 1px 5px rgb(255,200,200);
    color: rgb(255,100,100);
}

.welcome{
    min-height:100px;
}


/*.add img{*/
    /*height: 150px;*/
/*}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}




/*mobile*/
@media (max-width: 992px) {
    .hiddenme{
        display: none;
    }
    .showme{
        display: block;
    }
    .hiddenthisxs{
        display: none;
    }
    .hiddenthisoverxs{
        display: block;
    }
    .sb-search {
        width: 150px;
        top: 20px;
    }

    .header .cover_menu{
        position: fixed;
        display: block;
        z-index: 95;
    }
}

@media (max-width: 768px) {
    .header .side_menu .collapsed_menu{
        max-width:50%;
    }
    .container{
        max-width: 100%;
    }

}