
.header .cover{
    position: relative;
    margin:auto;
    /*background-image: url(../images/skincare.jpg);*/
    background-size:  100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /*height:82vh ;*/
    /*top: 16vh;*/
    top:64px;
    border-right: 1px solid rgb(233,233,233);
    border-left: 1px solid rgb(233,233,233);
}

.carousel-indicators{
    bottom: 60px;
}

.carousel-caption{
    padding-bottom: 80px;
}

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    height: 520px;
}

#myCarousel{
    width: 100%;
}

.padding20_0{
    padding: 10px 0;
}

.header .menu{
    top: 13px;
}

.headerH{
    /*padding-top: 38px;*/
    padding-right: 0;
}

.log_reg_block{
    /*padding-top: 35px;*/
    font-size: 18px;
}

.search{
    /*top: 72px;*/
    font-size: 30px;
    padding: 20px;
}

.rightDiv, .leftDiv{
    width: 20%;
    float: right;
}

.mainDiv{
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    border-color: rgb(239,134,131);
    width: 60%;
    margin: 10px 0px;
    float: right;
    color: rgb(239,134,131);
}

.mainDiv h1{
    font-size: 22px;
}

.grayBox{
    margin: auto;
    margin-top: 7%;
    min-height: 80px;
    line-height: 80px;
    /*background-color: rgb(233,231,232);*/
    border-radius: 2px;
    box-shadow: 6px 5px 10px #888888;
    text-align: center;
    font-size: 22px;
    /*color: darkblue;*/
}

.grayBox:hover{
    /*background-color: pink;*/
    /*border: 1px solid #d43f3a;*/
    border: 1px solid ;
    /*color: #761c19;*/
}



.cat , .srt{
    color: black;
    height: 80px;
    /*line-height: 40px;*/
    padding: 5px 20px;
    font-size: 15px;
    background-color: rgb(255,212,213);
    margin-bottom: 20px;
}

.cat:hover , .srt:hover{
    background-color: rgb(200,0,0);
    color: white;
}

.srt{
    line-height: 40px;
}

.cat-on , .srt-on{
    background-color: rgb(240,135,132);
}


.papers{
    margin-top: 20px;
}

.papsub h1{
    font-size: 20px;
}


.Paperdiv{
    height: auto;
    color: black;
    text-align: justify;
    margin: 20px 0;
}

.papname{
    font-size: 15px;
    margin-top: 5px;
}

.nametime{
    font-size: 12px;
    color: rgb(87,87,87);
}

.summ{
    color: rgb(129,125,124);
    font-size: 14px;
}

.test{
    /*top:72px;*/
}

.pagination{
    flex-direction: row-reverse;
}

.pagination li{
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
    padding: 10px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.paginationoldPapers:hover{
    background-color: rgb(255,100,100);
    color: white;
}

.active{
    background-color:  rgb(255,160,160) !important;
    color: white !important;
}

.fontDiam{
    font-size: 40px;
}

.mainDiv h4{
    font-size: 16px;
}

.marQ{
    top:35px;
}

marquee span {
    margin-right: 20%;
}

.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: green;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}

/*tablet*/
@media (min-width: 1800px) {
    /*.header .cover{*/
        /*height: 50vh;*/
    /*}*/

}
@media (max-width: 900px) {
    .icon img{
        width: 80%;
    }
    .navnavbarlink{
        font-size: 10px;
        padding-bottom: 5px;
    }
}
@media (min-width: 1700px) {
    /*.header .cover{*/
        /*height:90vh;*/
    /*}*/
}

@media (min-width: 1900px) {
    /*.header .cover{*/
        /*height:75vh;*/
    /*}*/
}

@media (min-width: 2000px) {
    /*.header .cover{*/
        /*height:65vh;*/
    /*}*/
}
@media (min-width: 2200px) {
    /*.header .cover{*/
        /*height:50vh;*/
    /*}*/
}
@media (min-width: 2400px) {
    /*.header .cover{*/
        /*height:40vh;*/
    /*}*/
}


@media (max-width: 992px) {
    .search , .test{
        top: 0;
        padding: 0;
    }
}

@media (max-width: 990px) {
    .mainDiv , .leftDiv , .rightDiv{
        border-width: 0;
        width: 100%;
        padding: 0;
    }

}



/*mobile*/
@media (max-width: 768px) {

}

